.App {
  display: flex;
  justify-content: center;
  background-color: darkgoldenrod;
  padding-bottom: 20em;
}
.calculator {
  background-color: blanchedalmond;
  margin-top: 12em;
  width: 20em;
  height: 30em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calculator div {
  border: 2px solid grey;
  padding: 10px;
}
.row {
  grid-column: 1 / -1;
}
#display {
  background-color: darkslategrey;
  color:aquamarine;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
}
#clear {
  background-color:burlywood;
  color:crimson;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  ;
}